{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        {% block content %}
            <header>
                <main>
                    <nav>
                        <ul>
                            {% if user.us_authenticated %}
                                <li>
                                    <a href="{% url 'user_logout' %}"></a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'signup' %}">Signup</a>
                                </li>
                                <li>
                                    <a href="{% url 'user_login' %}">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </main>
            </header>
        {% endblock content %}
    </body>
</html>
