<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for account in account_list %}
                        <td>{{ account.name }}</td>
                        <td>{{ account.number }}</td>
                        <td>{{ account.receipts.all|length }}</td>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </body>
    </html>
